@model IEnumerable <MVC3NetMagazine.Models.Produto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Listar</title>
    </head>
    
        @{
            var maiorValor = Model.Max(p => p.Valor);
            var menorValor = Model.Min(p => p.Valor);
        }

    <body>
    <div>
        <ul>
                 @foreach(var produto in Model){
                     <li>
                         @produto.Id.ToString("000") -
                         
                         @if (produto.Valor == maiorValor)
                         {
                             <strong>@produto.Descricao</strong>
                         }else
                         {
                            @produto.Descricao 
                         }
                           -  
                         <span style="color:#006600;">R$ @produto.Valor.ToString("N2")</span>
                         
                         @if(produto.Valor == menorValor)
                         {
                             <span style="color:red"><strong>Oferta!!</strong></span>
                         }

                     </li>
                }
            </ul>

    </div>
</body>
</html>
